.studentInfo {
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  margin: 40px auto; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}


:global(h1) {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  color: #2c3e50;
}

.field {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.label {
  font-weight: 600;
  width: 150px;
  color: #34495e;
  font-size: 1.1rem;
}

.value {
  flex: 1;
  font-size: 1.1rem;
  color: #2c3e50;
}


.backButton {
  display: inline-block;
  margin-bottom: 30px;
  font-size: 1rem;
  padding: 10px 15px;
  background-color: #ff04b4; 
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.backButton:hover {
  background-color: #9e5af8;
}