@use './main';

:root {

  --color: #00eeff;
  --color2: #7db633;
  --color3: #F00;
  --color4: rgb(138, 83, 155);


  --background: #ffe4e0; 
  --background2: #a55ebb;
  --background3: #8f4949;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color: #d8d8d8;
    --color2: #000;
    --color3: #F00;
    --background: #a03b3b;
    --background2: #51aa6b;
    --background3: #cdd676;
  }
}


@font-face {
  font-family: 'PTSans';
  src: local('PTSans'), local('PTSans'),
       url('/fonts/PTSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PTSans';
  src: local('PTSans'), local('PTSans'),
       url('/fonts/PTSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AcromW00';
  src: local('AcromW00'), local('AcromW00'),
       url('/fonts/258f25658f1456fd0206d4fb09b637fe.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AcromW00';
  src: local('AcromW00'), local('AcromW00'),
       url('/fonts/007e3053464a1b5fcb56734c7c18eabe.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'PTSans', Arial, sans-serif;
  font-size: 18px;
  color: var(--color);
  background-color: var(--background);
}

@mixin commons {
  font-family: 'PTSans', Arial, sans-serif;
  font-weight: 500;
}


h1 {
  @include commons;
  font-size: 42px;
  font-weight: bold;
  color: var(--color4);
}

h2 {
  @include commons;
  font-size: 32px;
  font-weight: normal;
  color: var(--color3);
}

h3 {
  @include commons;
  font-size: 24px;
  font-weight: normal;
  color: var(--color);
}

h4 {
  @include commons;
  font-size: 20px;
  font-weight: normal;
  color: var(--color2);
}