.Student {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  background: #f5f5f5;
}

.--isDeleted {
  color: #999;
  
  button {
    display: none;
  }
}

.--isNew {
  opacity: 0.5;
  
  button {
    display: none;
  }
}